.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualization {
    width: 100%;
    min-width: 300px;
    min-height: 400px;
    height: 40%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow-x: auto;
    overflow-y: auto;
}

.tree {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    position: relative;
    min-width: 100%;
}

.tree-node {
    background-color: #a43ecc;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}

.tree-node .index {
    position: absolute;
    top: -20px;
    font-size: 12px;
    color: #333;
}

.tree-line {
    position: absolute;
    width: 2px;
    background-color: black;
}

.tree-line.vertical {
    height: 40px;
}

.tree-line.horizontal {
    height: 2px;
    width: 50px;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
