/* common.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: #292929;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.sidebar h1 {
    font-size: 3rem;
    color: white;
    margin: 5px 0px;
    padding-top: 10px;
    animation: pulse 2s infinite ease-in-out; 
}

.sidebar ul {
    list-style: none;
    width: 100%;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar li {
    margin: 15px 0;
}

.sidebar button {
    width: 80%; 
    padding: 15px; 
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem; 
    font-weight: bold; 
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.493);
    transition: background-color 0.3s, transform 0.2s;
}

.sidebar button:hover {
    background-color: #a43ecc;
    transform: scale(1.1);
}

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #6b1e8a;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50%;
    position: absolute;
    bottom: 2%;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.774);
}

.home-button:hover {
    background-color: #fff;
    color: #a43ecc;
    transform: scale(1.2);
}
